<h2 class="page-header">Manage posts  <%= link_to "Create New", new_admin_post_path ,class: "btn btn-success" %> </h2>
<%if @posts.exists?%>

    <table class="table table-striped">
        <tr>
            <th> post title </th>
            <th> post category </th>
            <th> date create </th>
            <th>actions</th>
        </tr>
        <% @posts.each do |post| %>
            <tr>
                <td> <%= post.title %> </td>
                <td> <%= post.category.name %>
                <td> <%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %> </td>
                <td> <%= link_to "Edit", edit_admin_post_path(post),class:'btn btn-primary' %> <%= link_to "Delete", admin_post_path(post),class:'btn btn-danger', method: :delete, data: {confirm: 'are you sure?'} %> </td>
            </tr>
        <%end%>
    </table>
    <%= will_paginate @posts %>
<% else %>
    <p> no posts </p>
<% end %>