<h2>add new post</h2>
<%= form_for [:admin, @post] do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class= "alert alert-danger"><%= msg %></div>
        <% end %>
    <% end %>

	<div class = "from-group">
		<%= f.label :title %>
		<%= f.text_field :title ,class: 'form-control'%>
	</div>
	<div class = "from-group">
		<%= f.label :category %>
		<%= f.select :category_id,Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'select one'} ,class: 'form-control'%>
	</div>
	<div class = "from-group">
		<%= f.label :author %>
		<%= f.select :user_id ,User.all.collect {|x| [x.name, x.id]}, {:include_blank => 'select one'} ,class: 'form-control'%>
	</div>
	<div class = "from-group">
		<%= f.label :image %>
		<%= f.file_field :image%>
	</div>
	<div class = "from-group">
		<%= f.label :tags %>
		<%= f.text_area :tags,class: 'form-control'%>
	</div>
	<div class = "from-group">
		<%= f.label :body %>
		<%= f.text_area :body,class: 'form-control'%>
	</div>
	<%= f.submit "submit", class:'btn btn-primary' %>
	<%= link_to "cancel", admin_posts_path, class:'btn btn-default' %>

<% end %>
