<!DOCTYPE html>
<html>
  <head>
    <title>RBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top ">

      <a class="navbar-brand" href="#">rBlog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= params[:controller] == 'admin/posts' ? 'active' : '' %>"><%= link_to "Posts", admin_posts_path ,class:"nav-link" %></li>
          <li class="nav-item <%= params[:controller] == 'admin/categories' ? 'active' : '' %>"><%= link_to "Categories", admin_categories_path ,class:"nav-link" %></li>
          <li class="nav-item <%= params[:controller] == 'admin/users' ? 'active' : '' %>"><%= link_to "Users", admin_users_path ,class:"nav-link" %></li>
        </ul>
        <%= render 'partials/admin/search' %>
      </div>
    </nav>
    <section>
        <br/>
        <br/>
        <br/>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <div class="well">
                        <% if flash[:notice] %>
                          <div class="alert alert-success"><%= flash[:notice] %></div>
                        <% end %>
                        <% if flash[:alert] %>
                          <div class="alert alert-danger"><%= flash[:alert] %></div>
                        <% end %>
                        <%= yield %>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <p class="center">Copyright &copy; 2018,sBlog | <a href="login.html">Admin Login</a></p>
        </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
